ACCESS_TOKEN_SECRET=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
CLOUDINARY_CLOUD_NAME=replace_me
DATABASE_URL=mysql://root:replace_me@localhost:3306/shopscout
EMAIL_PASS=replace_me
EMAIL_USER=replace_me
FRONTEND_URL=http://localhost:3000
PRINTFUL_CLIENT_ID=replace_me
PRINTFUL_PRIVATE_TOKEN=replace_me
PRINTFUL_SECRET_KEY=replace_me
REFRESH_TOKEN_SECRET=replace_me
RESET_TOKEN_SECRET=replace_me
STRIPE_SECRET_KEY=replace_me
STRIPE_WEBHOOK_SECRET=replace_me
PORT=5050
